html, body {
    padding: none;
    margin: none;
}

body {
    scroll-behavior: smooth;
    background-image: url(./eksempelbilde.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;



}

/*max with på tex ti p tag*/






/* mobile queries first 

@media (min-width: 600px) {
    body {
        background-color: red;
    }
}
 */


 
section {
    min-height: 600px;
    width: 950px;
    border: 10px solid #ccc;
    margin: auto;
}
aside { 
      width: 200px; 
      position: -webkit-sticky;
      position: sticky;
      top: -1px;
      float: left;
      margin-right: 20px;
      background-color: #333;
      color: #fff;
      padding: 20px;
}
#overskrift {
    float: left;
}
strong {
    font-size: 100px;
}
article {
    width: 500px;
    margin-left: 260px;
}
